/* Add CSS Styling */
.odd-numbered {
    background-color: #ff9a9a;
    font-family: 'Verdana', 'DeJavu Sans', 'sans-serif';
}

#second {
    color: #5265f8;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: #93ffa6;
    font-size: 24px;
    font-weight: bold;
}