body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 5px solid white;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  border-bottom: 5px solid white;
  border-top: 5px solid white;

}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
}

h1 {
  font-size: 16px;
  margin: auto;
}